* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: powderblue
}

.panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: slategray;
    background-color: azure;
    border: 2px solid blue;
    padding: 15px;
    border-radius: 5px;
    margin: 30px auto;
    width: 320px;
    height: 300px;
}

.hidden {
    display: none;
}

.show {
    display: inline-block;
}

#winner {
    text-align: center;
}

#userWinner, #computerWinner, #tie {
    color: black;
    font-size: 24px;
}

a {
    font-size: 24px;
    text-decoration: none;
}

a:hover {
    color: red;
}