* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hidden {
    display: none;
}

.show {
    display: inline-block;
}

#userWinner, #computerWinner, #tie {
    font-size: 20px;
}

a {
    font-size: 24px;
    text-decoration: none;
}

a:hover {
    color: red;
}